@font-face {
  font-family: "Raleway";
  src: url(fonts/Raleway-Regular.woff2) format("woff2");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #86928b;
  font-size: 18px;
  line-height: 27px;
}

a:hover {
  color: #598d66;
}

a:hover path {
  fill: #598d66;
}

a:active path {
  fill: #376b44;
}

body {
  font-family: "Raleway";
  font-weight: 500;
  color: #2c2d35;
  background-color: #f4f6f5;
  margin: 0;
  font-size: 20px;
  /* overflow-x: hidden; */
}

button {
  border: 1px solid #598d66;
  background-color: transparent;
  text-align: center;
  /* display: inline-block; */
  padding: 21px 107px;
  color: #598d66;
  font-size: 20px;
  cursor: pointer;
}

.header_btn {
  border: none;
  padding: 0px;
  color: #2c2d35;
}

.header_buy {
  border: none;
  padding: 0px;
  stroke: #2c2d35;
}

.header_btn:hover {
  color: #598d66;
}

.header_buy:hover svg path {
  stroke: #598d66;
}

.bold {
  font-weight: 700;
}

.header {
  background-color: #e1ede6;
}

.header_list {
  list-style-type: none;
  line-height: 23.48px;
  max-width: 1110px;
  display: flex;
  align-items: center;
  padding: 38px;
  margin: 0 auto;
  gap: 60px;
}

.logo {
  margin-right: auto;
}

.cataloggap {
  margin-right: auto;
  font-size: 40px;
}

.lgreen {
  color: #e1ede6;
}

.dgreen {
  color: #598d66;
}

.hero {
  max-width: 1110px;
  margin: 0 auto;
}

.hero_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.hero_bird {
  transform: scaleX(-1);
  width: 540px;
  height: 621px;
  margin-left: 30px;
  object-fit: cover;
}

.hero_content {
  margin: 0;
  object-fit: contain;
  margin-bottom: 70px;
}

.hero_title {
  font-size: 60px;
  font-weight: 500;
  line-height: 66px;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}

.hero_subtitle {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: #86928b;
  margin: 0;
  margin-bottom: 60px;
}

.hero_btn {
  padding: 21px 60px;
}

.hero_btn:hover {
  background-color: #d4e8d9;
  color: #f4f6f5;
}

.hero_btn:active {
  background-color: #376b44;
  color: #fff;
}

.cataloghead {
  max-width: 1110px;
  height: 43px;
  background-color: transparent;
  list-style-type: none;
  justify-content: space-between;
  line-height: 23.48px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 30px auto;
}

* {
  padding: 0;
  margin: 0;
}

.btn-cat {
  border: 2px solid transparent;
  padding: 10px 20px;
  border-radius: 40px;
  line-height: 1.25;
  background-color: #d4e8d9;
  display: inline-block;
  text-align: center;
  color: #2c2d35;
  margin-right: 21px;
}

.btn-cat:focus {
  background-color: #376b44;
  color: #f4f6f5;
}

.btn-cat:hover {
  border: 2px solid #376b44;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  width: 100%;
  max-width: 1110px;
  justify-content: center;
  margin: auto;
  margin-bottom: 70px;
}

.product {
  display: block;
  background: #e1ede6;
  color: #474747;
  padding: 20px 20px 30px;
}

.product-photo {
  width: 310px;
  height: 422px;
  overflow: hidden;
  margin-bottom: 20px;
}

.product-card-name {
  margin-bottom: 10px;
  font-size: 18px;
  color: #86928b;
  line-height: 21.13px;
}

.product-card-pic {
  font-size: 30px;
  line-height: 35.22px;
  color: #2c2d35;
  margin-bottom: 8px;
}

.product-card-size {
  margin: 0;
  font-size: 18px;
  line-height: 21.13px;
  color: #2c2d35;
  margin-bottom: 30px;
}

.product-price {
  margin: 0;
  font-size: 24px;
  line-height: 28.18px;
  color: #598d66;
  margin-bottom: 20px;
}

.product_btn {
  background: none;
  font-size: 20px;
}

.product_btn:hover {
  background-color: #598d66;
  color: #f4f6f5;
}

.product_btn:active {
  background-color: #376b44;
  color: #ffffff;
}

.img {
  background-image: url("img/pic_background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: auto;
  margin-bottom: 70px;
}

.picscale {
  overflow: hidden;
  width: 100%;
  height: 574px;
}

.promo_container {
  max-width: 1110px;
  padding: 4.8611vw 0;
  margin: 0 auto;
}

.promo_header {
  font-size: 40px;
  color: #f4f6f5;
  line-height: 40px;
  max-width: 521px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.star {
  min-width: 80px;
}

.promo_paragraph {
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  max-width: 540px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.promo_btn {
  text-align: center;
  background-color: #eedb6d;
  line-height: 23.48px;
  color: #2c2d35;
  padding: 21px 60px;
}

.promo_btn:hover {
  background-color: #faeb97;
}

.promo_btn:active {
  background-color: #d9b949;
}

.team_wrapper {
  margin: auto;
  max-width: 1110px;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  gap: 30px;
}

.team_title {
  display: block;
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 20px;
}

.team_disk {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
  display: block;
}

.team_logo {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.footer {
  background-color: #e1ede6;
}

.footer_wrapper {
  max-width: 1110px;
  display: flex;
  margin: 0 auto;
  gap: 115px;
  justify-content: space-between;
  list-style-type: none;
  padding: 23px;
  line-height: 25.48px;
}

.footer_lists {
  display: flex;
  gap: 60px;
}

.footer_list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer_list_title {
  font-size: 20px;
  line-height: 23.48px;
  color: #2c2d35;
}

.footer_rights {
  font-size: 12px;
  line-height: 14.4px;
  color: #86928b;
}

.footer_logo {
  margin-bottom: 30px;
}

.footer .footer_svg {
  margin-right: 30px;
  margin-bottom: 10px;
}

.footer_title_lists:hover {
  color: #598d66;
}

@media screen and (max-width: 992px) {
  .header_list {
    flex-direction: column;
    margin-bottom: 60px;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0 39px;
  }

  .btn {
    padding: 17px 40px;
  }

  .title {
    font-size: 30px;
    line-height: 110%;
  }
  .hero_title {
    font-size: 40px;
    line-height: 100%;
  }

  .hero_content {
    padding-top: 35px;
  }

  .product {
    align-items: center;
  }

  .hero_bird {
    display: none;
  }

  .hero_content {
    padding: 0 15px;
  }

  .hero_title {
    font-size: 30px;
    line-height: 30px;
  }

  .hero_subtitle {
    font-size: 14px;
    line-height: 21px;
  }

  .cataloghead {
    flex-wrap: wrap;
    padding: 0 15px;
  }

  .cataloggap {
    flex-basis: 100%;
    margin-bottom: 21px;
    font-size: 24px;
  }

  .btn-cat {
    margin-right: 20px;
    font-size: 18px;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}
